@import "src/assets/colors.scss";
canvas {
  pointer-events: none; /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
  position: absolute;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    section {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .section-left {
      height: 500px;
      //   display: flex;
      //   align-items: center;
      //   flex-direction: column;
      .logo {
        height: 100px;
        width: 336.9px;
      }

      .tutorial {
        margin-top: 40px;
        width: 250px;
        height: 196px;
        position: relative;

        .line {
          height: 160px;
          width: 4px;
          position: absolute;
          left: 22px;
          top: 24px;
          border-radius: 5px;
          background: white;
        }

        #current-step {
          position: absolute;
          height: 48px;
          width: 48px;
          top: 0;
          left: 0;

          transition: top 0.4s;
        }

        .list {
          .step {
            position: absolute;
            border-radius: 60px;
            width: 24px;
            height: 24px;
            left: 12px;
            background: white;

            &.inactive .text {
              opacity: 0;
            }

            &.done .text {
              animation-iteration-count: 1 !important;
            }

            .text {
              position: absolute;
              top: -12px;
              left: 60px;
              width: 200px;
              height: 48px;
              font-size: 20px;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }

            &:nth-child(1) {
              //   background: purple;
              @keyframes blinking {
                50% {
                  opacity: 1;
                }
                80% {
                  opacity: 0.5;
                }
              }

              .text {
                animation-iteration-count: infinite;
                animation: blinking 1.6s infinite;
              }
              top: 12px;
            }

            &:nth-child(2) {
              //   background: red;
              top: 92px;
            }

            &:nth-child(3) {
              //   background: gray;
              top: 172px;
            }
          }
        }
      }

      #symptom-box {
        background: black;
        margin-top: 50px;
        border-radius: 10px;
        // width: 250px;
        width: 330px;
        padding-top: 10px;
        height: 120px;
        overflow-y: auto;
        display: none;
        .symptom-line {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-bottom: 5px;

          .symptom {
            display: flex;
            justify-content: center;
            align-items: center;
            label {
              user-select: none;

              &:hover {
                transform: scale(1.04);
              }
              cursor: pointer;

              input {
                cursor: pointer;
                margin-left: 5px;
              }
            }
          }
        }
      }

      #continue-button {
        display: none;
        margin-left: 115px;
        margin-top: 15px;
        width: 100px;
        height: 45px;
        border-radius: 8px;
        background: #69d2d0;
        user-select: none;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        // color: black;
        transition: transform 0.2s;
        filter: contrast(0.5);

        &.active {
          filter: contrast();
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }

    .section-right {
      padding: 20px;
      background: #0b0b0b48;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .human-container {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 570px;
        width: 290px;
        position: relative;

        .return {
          position: absolute;
          left: 10px;
          top: 10px;
          height: 30px;
          cursor: pointer;
        }

        #human {
          height: 100%;
          width: 100%;
        }

        #human-2 {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  footer {
    height: 80px;
    background: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font-size: 15px;
  }
}

#statesMap {
  height: 550px;
  width: 245px;
  //245.4 more accurate
}

#statesMap-2 {
  //opacity and position nötig für maphilight, sonst geht es nicht mit display none
  opacity: 0;
  position: absolute;
  height: 957px;
  width: 427px;
}

#human-placeholder {
  position: absolute;
  opacity: 0;
  width: 245px;
  //245.4 more accurate
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#human-placeholder-image {
  height: 100%;
  &.transition-on {
    transition: all 0.5s;
  }
}

#human-placeholder-3 {
  position: absolute;
  opacity: 0;
  width: 427px;
  //245.4 more accurate
  height: 957px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#human-placeholder-image-3 {
  height: 100%;
  &.transition-on {
    transition: all 0.5s;
  }
}

area {
  cursor: pointer;
}
