<div class="responsive-helper">
  <header>
    <div class="desktop-head">
      <img class="logo" src="assets/Symptomize.svg" alt="" routerLink="/" />
    </div>
    <div class="handy-head">
      <img src="assets/arrow-left-solid.svg" class="icon" (click)="goBack()" />
      <h1>Profil</h1>
    </div>
  </header>
  <main>
    <section class="leftside">
      <div *ngFor="let symp of symptoms" class="Symptome">
        <p class="koerperarea">{{ dictionary[symp.bodyArea] }}</p>
        <label class="Koerperteil">{{ dictionary[symp.bodyPart] }}</label>

        <img
          src="assets/trash-alt-solid.svg"
          class="icon hover"
          (click)="clickDelete(symp.bodyPart)"
        />

        <div class="abgrenzung"></div>

        <ul *ngFor="let s of symp.symptoms">
          <li class="Einzelnes-Symp">
            {{ s }}
            <img src="assets/check-square-solid.svg" class="icon-smaller" />
          </li>
        </ul>
      </div>
    </section>
    <section class="rightside">
      <div class="Symptome-hinzu">
        <img
          src="assets/plus-solid.svg"
          class="plus hover"
          (click)="clickPlus()"
        />
        <label class="Koerperteil-hinzu">Körperteil hinzufügen</label>
      </div>
      <div class="abgrenzung"></div>
      <button (click)="absenden()">Absenden</button>
      <div class="urllabel">
        <label>{{ urlLabeltext }}</label>
        <button *ngIf="showcopy" (click)="clickCopy(urlLabeltext)" class="copy">
          Copy
        </button>
      </div>
    </section>
  </main>
</div>
<footer>
  <div>IDPA - Jouni Wüthrich, Noah Salvi</div>
  <div class="gray-text">2020©</div>
</footer>
