@import "src/assets/colors.scss";
//Handy
@media (max-width: 630px) {
  .responsive-helper {
    min-height: calc(100vh - 90px);
  }
  .desktop-head {
    display: none;
  }
  .handy-head {
    background-color: #000000;
    padding: 3%;
    text-align: center;
    h1 {
      margin-left: 35px;
      margin-right: 35px;
    }
    .icon {
      height: 35px;
      width: auto;
      margin-left: 1%;
      float: left;
      border-radius: 2px;
    }
  }

  main {
    text-align: center;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    .leftside {
      width: 100%;

      margin-bottom: 10px;
    }

    .Symptome {
      text-align: left;
      margin-top: 5%;
      width: 100%;

      .koerperarea {
        text-decoration: underline;
        color: $green;
      }

      .Koerperteil {
        font-size: 25px;
      }

      .icon {
        height: 25px;
        width: auto;
        margin-left: 1%;
        float: right;
        border-radius: 2px;
      }

      .Einzelnes-Symp {
        list-style: none;
        font-size: 15px;
        margin-left: 5%;
      }

      .icon-smaller {
        height: 13px;
        float: right;
        margin-right: 10%;
      }
    }

    .Symptome-hinzu {
      margin-top: 5%;
      width: initial;
      align-items: center;
      text-align: left;
      display: flex;
      justify-content: space-between;

      .Koerperteil-hinzu {
        font-size: 30px;
        margin: auto;
      }
      .plus {
        vertical-align: middle;
        height: 25px;
        margin-left: 1%;
        margin-right: 10px;
        border-radius: 2px;
      }
    }
    button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      border-radius: 5px;
      background: $green;
      border: none;
      padding: 10px 20px;
      font-size: 24px;
      display: flex;
    }
    button:hover {
      background: $green-hover;
    }
    .copy {
      margin-top: 5px;
      font-size: 20px;
    }
    .rightside {
      margin-bottom: 110px;
    }
  }
  .urllabel {
    height: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .abgrenzung {
    height: 5px;
    background-color: $green;
    margin-bottom: 5%;
  }

  footer {
    height: 90px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}

//Desktop
@media (min-width: 630px) {
  .responsive-helper {
    height: calc(100vh - 80px);
  }
  .handy-head {
    display: none;
  }
  .desktop-head {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
    margin: auto;

    .logo {
      width: 400px;
      cursor: pointer;
    }
  }

  main {
    height: fit-content;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    .leftside {
      width: 55%;
      height: 70vh;
      overflow: auto;

      .Symptome {
        text-align: left;
        margin-top: 5%;
        margin-right: 5px;

        .koerperarea {
          text-decoration: underline;
          color: $green;
        }

        .Koerperteil {
          font-size: 30px;
        }

        .icon {
          height: 25px;
          width: auto;
          margin-left: 1%;
          float: right;
          border-radius: 2px;
        }

        .Einzelnes-Symp {
          list-style: none;
          font-size: 25px;
          margin-left: 5%;
        }

        .icon-smaller {
          height: 20px;
          float: right;
          margin-right: 10%;
        }
      }
    }
    .rightside {
      width: 40%;
      height: 100%;

      .Symptome-hinzu {
        margin-top: 8%;
        width: initial;
        align-items: center;
        text-align: left;
        display: flex;
        justify-content: space-between;

        .Koerperteil-hinzu {
          font-size: 40px;
          margin: auto;
        }
        .plus {
          vertical-align: middle;
          height: 35px;
          margin-left: 1%;
          margin-right: 10px;
          border-radius: 2px;
        }
      }
      button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        border-radius: 5px;
        background: $green;
        border: none;
        padding: 10px 20px;
        font-size: 24px;
        display: flex;
        transition: transform 0.2s;
      }
      button:hover {
        transform: scale(1.04);
      }

      .copy {
        margin-top: 5px;
        font-size: 20px;
      }
    }
  }
  .urllabel {
    height: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .abgrenzung {
    height: 5px;
    background-color: $green;
    margin-bottom: 5%;
  }

  footer {
    height: 80px;
    background: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font-size: 15px;

    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
.gray-text {
  color: rgb(219, 219, 219);
}

.hover:hover {
  background-color: grey;
}
