<div class="responsive-helper">
  <header>
    <div class="desktop-head">
      <img class="logo" src="assets/Symptomize.svg" alt="" routerLink="/" />
    </div>
    <div class="handy-head">
      <img src="assets/arrow-left-solid.svg" class="icon" (click)="goBack()" />
      <h1>Impressum</h1>
    </div>
  </header>
  <main>
    <div>
      <p>
        Alle Icons in unserem Projekt sind ursprünglich von der Seite:
        Fontawesome. <br />
        Sie wurden unverändert übernommen.
      </p>
      <a href="https://fontawesome.com">fontawesome.com</a>
    </div>
    <div class="PDF">
      <button (click)="openPDF()">Benutzerhandbuch</button>
    </div>
  </main>
</div>
<footer>
  <div>IDPA - Jouni Wüthrich, Noah Salvi</div>
  <div class="gray-text">2020©</div>
</footer>
