@import "src/assets/colors.scss";
@media (max-width: 630px) {
  .responsive-helper {
    height: calc(100vh - 90px);
  }

  .desktop-head {
    display: none;
  }
  .handy-head {
    background-color: #000000;
    padding: 3%;
    text-align: center;
    h1 {
      margin-left: 35px;
      margin-right: 35px;
    }
    .icon {
      height: 35px;
      width: auto;
      margin-left: 1%;
      float: left;
      border-radius: 2px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    p {
      font-size: 3vh;
      padding: 10px 40px 0 40px;
    }
    a {
      font-size: 3vh;
      padding: 10px 40px 0 40px;
      color: rgb(18, 18, 110);
    }
    button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      border-radius: 5px;
      background: $green;
      border: none;
      padding: 10px 20px;
      font-size: 24px;
      display: flex;
    }
  }

  footer {
    height: 90px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 630px) {
  .responsive-helper {
    height: calc(100vh - 80px);
  }
  .handy-head {
    display: none;
  }
  .desktop-head {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
    margin: auto;

    .logo {
      width: 400px;
      cursor: pointer;
    }
  }

  main {
    margin-top: 80px;
    text-align: center;
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    p {
      font-size: 24px;
    }
    a {
      font-size: 24px;
      color: $green;
    }
    button {
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      border-radius: 5px;
      background: $green;
      border: none;
      padding: 10px 20px;
      font-size: 20px;
      display: flex;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.04);
      }
    }
  }

  footer {
    height: 80px;
    background: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font-size: 15px;

    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
.gray-text {
  color: rgb(219, 219, 219);
}
