<div class="responsive-helper">
  <header>
    <img class="logo" src="assets/Symptomize.svg" alt="" />
  </header>
  <main>
    <section class="leftside" *ngIf="isDataAvailable">
      <div *ngFor="let symp of symptome" class="Symptome">
        <label class="Koerperteil">{{ symp.koerperteil }}</label>

        <div class="abgrenzung"></div>

        <ul *ngFor="let s of symp.Symptom">
          <li class="Einzelnes-Symp">
            {{ s }}
          </li>
        </ul>
      </div>
    </section>
  </main>
</div>
<footer>
  <div>IDPA - Jouni Wüthrich, Noah Salvi</div>
  <div class="gray-text">2020 c</div>
</footer>
