@import "src/assets/colors.scss";
@media (max-width: 630px) {
  .responsive-helper {
    // height: calc(100vh - 90px);
    height: 100vh; /* Fallback for browsers that do not support Custom Properties https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
    height: calc(calc(var(--vh, 1vh) * 100) - 90px);
    display: flex;
    flex-direction: column;
  }

  header {
    height: 100px;
    // padding-top: 30px;
    // padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

    .logo {
      width: 80%;
    }
  }

  main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;

    .parentside {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    p {
      font-size: 3vh;
      padding: 10px 40px 0 40px;
    }

    button {
      margin-top: 20px;
      border-radius: 5px;
      background: $green;
      border: none;
      padding: 10px 20px;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .img-container-gross {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  footer {
    height: 90px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 630px) {
  .responsive-helper {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
  }
  header {
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin: auto;

    .logo {
      width: 400px;
    }
  }

  main {
    flex-grow: 2;
    text-align: center;
    width: 60%;
    min-width: 650px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img-container {
      display: none;
    }

    .parentside {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 80px;
      background: $background;
      border-radius: 14px;

      .rightside {
        .img-container-gross {
          display: flex;
          justify-content: space-between;
          background-color: none;
          height: 450px;

          img {
            height: 100%;
          }
        }
      }

      .leftside {
        height: 100%;
        margin-top: 30px;

        p {
          font-size: 24px;
          display: flex;
          width: 75%;
          margin-left: auto;
          margin-right: auto;
        }

        button {
          cursor: pointer;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          border-radius: 5px;
          background: $green;
          border: none;
          padding: 10px 20px;
          font-size: 18px;
          display: flex;
          transition: transform 0.2s;
        }
        button:hover {
          transform: scale(1.04);
        }
      }
    }
  }

  footer {
    font-size: 15px;
    height: 80px;
    width: 100%;
    background: black;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0;
    div {
      width: 33%;
      flex-grow: 1;
    }
    .gray-text {
      text-align: right;
    }
  }
}
.gray-text {
  color: rgb(219, 219, 219);
}
.Impressum {
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  float: right;
}
