<div class="responsive-helper">
  <header>
    <img class="logo" src="assets/Symptomize.svg" alt="" />
  </header>
  <main>
    <div class="parentside">
      <div class="leftside">
        <p>
        Mit Symptomize kannst du ganz einfach und schnell ein Symptom-Profil
        erstellen, welches du deinem Arzt oder Hausarzt zukommen lassen kannst.
        </p>
        <button>Profil erfassen</button>
      </div>
      <div class="rigthside">
        <div class="img-container">
          <img src="assets/medizin-grafik.svg" alt="" />
        </div>
        <div class="img-container-gross">
          <img src="assets/Platzhalter_Koerper.jpg" alt="">
        </div>
      </div>
    </div>
  </main>
</div>
<footer>
  <div>IDPA - Jouni Wüthrich, Noah Salvi</div>
  <div>2020 c</div>
</footer>
