<div class="responsive-helper">
  <header>
    <img class="logo" src="assets/Symptomize.svg" alt="" />
  </header>
  <main>
    <div class="parentside">
      <section class="call-to-action leftside">
        <p>
          Mit Symptomize kannst du ganz einfach und schnell ein Symptom-Profil
          erstellen, welches du deinem Arzt oder Hausarzt zukommen lassen
          kannst.
        </p>
        <button (click)="continue()">Profil erfassen</button>
      </section>
      <div class="rightside">
        <section class="img-container">
          <img src="assets/medizin-grafik.svg" alt="" />
        </section>
        <section class="img-container-gross">
          <img src="assets/human-original.png" alt="" />
        </section>
      </div>
    </div>
  </main>
</div>
<footer>
  <div>IDPA - Jouni Wüthrich, Noah Salvi</div>
  <div class="Impressum" [routerLink]="['impressum']">Impressum</div>
  <div class="gray-text">2020©</div>
</footer>
