<div class="responsive-helper">
  <header>
    <img class="logo" src="assets/Symptomize.svg" alt="" />
  </header>
  <main>
    <p>
      Mit Symptomize kannst du ganz einfach und schnell ein Symptom-Profil
      erstellen, welches du deinem Arzt oder Hausarzt zukommen lassen kannst.
    </p>
    <button>Profil erfassen</button>
    <div class="img-container">
      <img src="assets/medizin-grafik.svg" alt="" />
    </div>
  </main>
</div>
<footer>
  <div>IDPA - Jouni Wüthrich, Noah Salvi</div>
  <div>2020 c</div>
</footer>
