@import "src/assets/colors.scss";
@media (max-width: 630px) {
  .responsive-helper {
    height: calc(100vh - 90px);
  }

  header {
    height: 100px;
    // padding-top: 30px;
    // padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

    .logo {
      width: 80%;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    p {
      font-size: 3vh;
      padding: 10px 40px 0 40px;
    }

    button {
      margin-top: 20px;
      border-radius: 5px;
      background: $green;
      border: none;
      padding: 10px 20px;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .img-container-gross {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  footer {
    height: 90px;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 630px) {
  .responsive-helper {
    height: calc(100vh - 80px);
  }
  header {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    width: 80%;
    margin: auto;

    .logo {
      width: 600px;
    }
  }

  main {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .img-container {
      display: none;
    }

    .parentside {
      display: flex;
      justify-content: space-between;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      background: $background;
      border-radius: 14px;

      .rightside {
        height: 100%;

        .img-container-gross {
          display: flex;
          justify-content: space-between;
          height: 100%;
          background-color: none;
        }
      }

      .leftside {
        padding-top: 10%;
        height: 100%;

        p {
          font-size: 200%;
          display: flex;
          width: 75%;
          margin-left: auto;
          margin-right: auto;
        }

        button {
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          border-radius: 5px;
          background: $green;
          border: none;
          padding: 10px 20px;
          font-size: 24px;
          display: flex;
        }
        button:hover {
          background: $green-hover;
        }
      }
    }
  }

  footer {
    font-size: 15px;
    height: 80px;
    width: 100%;
    background: black;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0;
    div {
      width: 33%;
      flex-grow: 1;
    }
    .gray-text {
      text-align: right;
    }
  }
}
.gray-text {
  color: rgb(219, 219, 219);
}
.Impressum {
  text-decoration: underline;
  text-align: center;
  float: right;
}
